@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #18181b;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('~@/assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('~@/assets/fonts/SpaceGrotesk/SpaceGrotesk-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('~@/assets/fonts/SpaceGrotesk/SpaceGrotesk-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('~@/assets/fonts/SpaceGrotesk/SpaceGrotesk-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* Don't let unused Tailwind classes get minified */

:root {
  --empty: ;
}

*,
:after,
:before {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: var(--empty,
      /*!*/
      /*!*/
    );
  --tw-pan-y: var(--empty,
      /*!*/
      /*!*/
    );
  --tw-pinch-zoom: var(--empty,
      /*!*/
      /*!*/
    );
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: var(--empty,
      /*!*/
      /*!*/
    );
  --tw-slashed-zero: var(--empty,
      /*!*/
      /*!*/
    );
  --tw-numeric-figure: var(--empty,
      /*!*/
      /*!*/
    );
  --tw-numeric-spacing: var(--empty,
      /*!*/
      /*!*/
    );
  --tw-numeric-fraction: var(--empty,
      /*!*/
      /*!*/
    );
  --tw-ring-inset: var(--empty,
      /*!*/
      /*!*/
    );
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: var(--empty,
      /*!*/
      /*!*/
    );
  --tw-brightness: var(--empty,
      /*!*/
      /*!*/
    );
  --tw-contrast: var(--empty,
      /*!*/
      /*!*/
    );
  --tw-grayscale: var(--empty,
      /*!*/
      /*!*/
    );
  --tw-hue-rotate: var(--empty,
      /*!*/
      /*!*/
    );
  --tw-invert: var(--empty,
      /*!*/
      /*!*/
    );
  --tw-saturate: var(--empty,
      /*!*/
      /*!*/
    );
  --tw-sepia: var(--empty,
      /*!*/
      /*!*/
    );
  --tw-drop-shadow: var(--empty,
      /*!*/
      /*!*/
    );
  --tw-backdrop-blur: var(--empty,
      /*!*/
      /*!*/
    );
  --tw-backdrop-brightness: var(--empty,
      /*!*/
      /*!*/
    );
  --tw-backdrop-contrast: var(--empty,
      /*!*/
      /*!*/
    );
  --tw-backdrop-grayscale: var(--empty,
      /*!*/
      /*!*/
    );
  --tw-backdrop-hue-rotate: var(--empty,
      /*!*/
      /*!*/
    );
  --tw-backdrop-invert: var(--empty,
      /*!*/
      /*!*/
    );
  --tw-backdrop-opacity: var(--empty,
      /*!*/
      /*!*/
    );
  --tw-backdrop-saturate: var(--empty,
      /*!*/
      /*!*/
    );
  --tw-backdrop-sepia: var(--empty,
      /*!*/
      /*!*/
    );
}